<mat-card class="mat-elevation-z8 table-wrapper">
  <img src="https://i.pinimg.com/originals/85/3b/3b/853b3bc7b92e4b50bf244e2020cd9be2.jpg">
  <div class="table-header">
    <mat-form-field appearance="outline">
      <mat-label>Search for card by name or serial</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        (keyup)="filterChanged($event.target.value)"
        placeholder="Search"
      />
    </mat-form-field>
    <button
      mat-stroked-button
      class="process-cards-button"
      (click)="processCards()"
    ><mat-icon matPrefix>refresh</mat-icon>Process Cards</button>
    <button
      mat-stroked-button
      class="add-card-button"
      (click)="addCard()"
    ><mat-icon matPrefix>add</mat-icon>Add Card</button>
  </div>

  <div class="table-container" [hidden]="(loadingCards || loadingError)">
    <table
      class="card-table"
      mat-table
      [dataSource]="dataSource"
      matSort
    >
      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Serial</th>
        <td mat-cell *matCellDef="let element">{{ getSerialNumberForCard(element) }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.card.name }}</td>
      </ng-container>
      <ng-container matColumnDef="unlimitedPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-align-right">Unlimited</th>
        <td mat-cell *matCellDef="let element">{{ getMarketPricesForCard(element).get("unlimited") | currency }}</td>
      </ng-container>
      <ng-container matColumnDef="limitedPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Limited</th>
        <td mat-cell *matCellDef="let element">{{ getMarketPricesForCard(element).get("limited") | currency }}</td>
      </ng-container>
      <ng-container matColumnDef="firstEditionPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>1st Edition</th>
        <td mat-cell *matCellDef="let element">{{ getMarketPricesForCard(element).get("firstEdition") | currency }}</td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon
            class="delete-icon"
            (click)="deleteCard(element)"
          >delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['serial', 'name', 'unlimitedPrice', 'limitedPrice', 'firstEditionPrice', 'delete']; sticky: true"></tr>
      <tr
        mat-row
        class="clickable-row"
        *matRowDef="let row; columns: ['serial', 'name', 'unlimitedPrice', 'limitedPrice', 'firstEditionPrice', 'delete']"
        (click)="goToCardDetails(row)"
      ></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons>
  </mat-paginator>
  </div>
  <div class="spinner" *ngIf="loadingCards">
    <app-spinner [loadValue]="'cards'"></app-spinner>
  </div>
</mat-card>
